main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{
    display: block;
    padding: 10px 25px;
    margin-bottom: 20px;
    width: 50%;
}

form legend{
    font-weight: bold;
}

.checkbox{
    margin-top: 20px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(149, 19, 10);
    color:  white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(70, 19 , 10);
    transform: scale(1.2);
}

.tabela-horarios{
    margin: 20px 0 40px 0;
    width: 40%;
}

.tabela-horarios thead{
    background: #555;
    color: white;
    font-weight: bold;

}

.tabela-horarios td, .tabela-horarios th {
    border: solid 1px #000;
    padding: 10px 15px;
    vertical-align: middle;
}
