/* principal */

.produtos{
    width: 940px;
    padding: 50px 0;
    margin: 0 auto;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 20px 30px;
    box-sizing: border-box;
    vertical-align: top;
    height: 400px;
  /*  border-color: #000;
    border-width: 2px;
    border-style: solid; */
    border: #000 2px solid;
    border-radius: 10px; 
}

.produtos li:hover{
    border-color: rgb(147 19 10);
}

.produtos li:hover h2{
    font-size: 30px;
}

.produtos h2{
    font-weight: bold;
    font-size: 22px;
}

.produtos p{
    font-size: 18px;
}